{% extends "data/index.html" %}
{% block body %}
<div class="data_content data reid">
<h2>Reid/Mantyla Section Data</h2>

<h3>Atlantic Ocean Sub Basins</h3>

<div class="subbasin Atlantic">
    <img alt="Atl_sub_basin" src="/static/images/joa_data/reid/atl_sub_basin.gif?1296761426">
    <h4>North Atlantic Basins</h4>
    <table>
      <tbody><tr>
        </tr><tr><th>CENA:</th><td><a href="/data/reid/Atlantic/subbasin/N_Central-Eastern">Central-Eastern Basin</a></td></tr>
        <tr><th>CWNA:</th><td><a href="/data/reid/Atlantic/subbasin/N_Central-Western">Central-Western Basin</a></td></tr>
        <tr><th>NENA:</th><td><a href="/data/reid/Atlantic/subbasin/N_North-Eastern">North-Eastern Basin</a> (Norwegian Sea)</td></tr>
        <tr><th>NWNA:</th><td><a href="/data/reid/Atlantic/subbasin/N_North-Western">North-Western Basin</a> (Labrador Sea)</td></tr>
        <tr><th>SENA:</th><td><a href="/data/reid/Atlantic/subbasin/N_South-Eastern">South-Eastern Basin</a></td></tr>
        <tr><th>SWNA:</th><td><a href="/data/reid/Atlantic/subbasin/N_South-Western">South-Western Basin</a> (Caribbean Sea)</td></tr>
        <tr><th>SNA:</th><td><a href="/data/reid/Atlantic/subbasin/N_Southern">Southern Basin</a></td></tr>
      
    </tbody></table>
    <h4>South Atlantic Basins</h4>
    <table>
      <tbody><tr><th>CWSA:</th><td><a href="/data/reid/Atlantic/subbasin/S_Central-Western">Central-Western Basin</a></td></tr>
      <tr><th>NESA:</th><td><a href="/data/reid/Atlantic/subbasin/S_North-Eastern">North-Eastern Basin</a></td></tr>
      <tr><th>NWSA:</th><td><a href="/data/reid/Atlantic/subbasin/S_North-Western">North-Western Basin</a></td></tr>
      <tr><th>SSA:</th><td><a href="/data/reid/Atlantic/subbasin/S_Southern">Southern Basin</a></td></tr>
    </tbody></table>
</div>
</div>
{% endblock %}
