{% extends "data/index.html" %}
{% block body %}
<div class="data_content data reid">
<h2>Reid/Mantyla Section Data</h2>

<h3>Pacific Ocean Sub Basins</h3>

<div class="subbasin Pacific">
    <img alt="Pac_sub_basin" src="/static/images/joa_data/reid/pac_sub_basin.gif?1296761426">
    <h4>North Pacific Basins</h4>
    <table>
      <tbody><tr><th>CNP:</th><td><a href="/data/reid/Pacific/subbasin/N_Central">Central Basin</a></td></tr>
      <tr><th>ENP:</th><td><a href="/data/reid/Pacific/subbasin/N_Eastern">Eastern Basin</a></td></tr>
      <tr><th>NNP:</th><td><a href="/data/reid/Pacific/subbasin/N_Northern">Northern Basin</a></td></tr>
      <tr><th>WNP:</th><td><a href="/data/reid/Pacific/subbasin/N_Western">Western Basin</a></td></tr>
    </tbody></table>
    <h4>South Pacific Basins</h4>
    <table>
      <tbody><tr><th>CSP:</th><td><a href="/data/reid/Pacific/subbasin/S_Central">Central Basin</a></td></tr>
      <tr><th>ESP:</th><td><a href="/data/reid/Pacific/subbasin/S_Eastern">Eastern Basin</a></td></tr>
      <tr><th>SSP:</th><td><a href="/data/reid/Pacific/subbasin/S_Southern">Southern Basin</a></td></tr>
      <tr><th>WSP:</th><td><a href="/data/reid/Pacific/subbasin/S_Western">Western Basin</a></td></tr>
    </tbody></table>
</div>
          </div>
{% endblock %}
