{% extends "data/index.html" %}
{% block body %}
<div class="data_content data reid">
<h2>Reid/Mantyla Section Data</h2>

<table class="index">
  <thead>
    <tr>
      <th><h3>Atlantic Ocean</h3> (<a href="/data_files/reid/joa/reid_atl.zip">download all</a>)</th>
      <th><h3>Indian Ocean</h3> (<a href="/data_files/reid/joa/reid_ind.zip">download all</a>)</th>
      <th><h3>Pacific Ocean</h3> (<a href="/data_files/reid/joa/reid_pac.zip">download all</a>)</th>
    </tr>
  </thead>
  <tbody><tr>
    <td>
      <ul>
        <li><a href="/data/reid/Atlantic/entire">Entire Atlantic Ocean</a></li>
        <li><a href="/data/reid/Atlantic/subbasin">by Sub-Basins</a></li>
        <li><a href="/data/reid/Atlantic/date">by Date of Cruise</a></li>
        <li><a href="/data/reid/Atlantic/ship">by Ship Name/Code</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data/reid/Indian/entire">Entire Indian Ocean</a></li>
        <li><a href="/data/reid/Indian/date">by Date of Cruise</a></li>
        <li><a href="/data/reid/Indian/ship">by Ship Name/Code</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data/reid/Pacific/entire">Entire Pacific Ocean</a></li>
        <li><a href="/data/reid/Pacific/subbasin">by Sub-Basins</a></li>
        <li><a href="/data/reid/Pacific/date">by Date of Cruise</a></li>
        <li><a href="/data/reid/Pacific/ship">by Ship Name/Code</a></li>
      </ul>
    </td>
  </tr>
</tbody></table>

<h3>Description</h3>
<!--p>This set is a collection of ca. 2200 vertical sections assembled from the
original NODC data files contributing to SIO Professor Joseph Reid's World
Ocean data collection. From the many thousands of cruises in NODC Archives, and
some newer cruises originally from colleagues, over more than two decades Joe
sifted for the best available data from each region of the World Ocean (except
for the Arctic). His intended purpose was to make maps of water properties, and
so he cut off stations from a cruise where a better (better for his purposes)
cruise overlapped it. He made corrections to many of the data for known offsets
(mostly standard seawater batch offsets). Here we went into the NODC files and
retrieved the entire cruise data set for each cruise Joe used, assembled the
stations into sensible vertical sections, applied the same corrections Joe
used, and then we culled many bad data values. The resulting 2200 sections
represent the basic data knowledge of the deep ocean basins prior to the 1990s.
The data sets all include temperature and salinity, nearly all have dissolved
oxygen data, and most have nutrient (NO3, PO4, and/or SiO3) data.</p-->

<p>We have prepared ≈2200 mostly pre-WOCE (pre-1990&#39;s) vertical sections assembled from
the original NODC data files contributing to SIO Professor Joseph L. Reid&#39;s World Ocean data
collection. From cruises in NODC archives, and some newer cruises originally from
colleagues, over more than two decades Joe sifted for the best available data from each
region of the World Ocean (except for the Arctic). His intended purpose was to make maps
of water properties (which he used to great effect in his many publications), not vertical
sections, and so he cut off stations from a cruise where a better (better for his purposes)
cruise overlapped it. He made corrections to many of the data for known offsets (mostly
standard seawater batch offsets). Here we went into the NODC files and retrieved the entire
cruise data set for each cruise Joe used, assembled the stations into sensible vertical
sections, applied the same corrections Joe used, and then we culled many bad data values.
The resulting 2200 sections represent the basic data knowledge of the deep ocean basins
prior to the 1990s. The data sets all include temperature and salinity, nearly all have
dissolved oxygen data, and most have nutrient (NO3, PO4, and/or SiO3) data. The data are
available in JOA binary and also in an NODC text data format called &quot;SD2&quot;. NODC no longer
delivers data in SD2 format, but the JOA application will import/read any of these text data
files if one changes the suffix from .txt to .sd2. IMPORTANT NOTE: The oxygen and nutrient
data in the Reid data collection are in volume units (numerically only ≈2.6% adjustment for
nutrients but a factor of ≈45x for dissolved oxygen). To go from O2 in ml/l to O2 in μmol/kg
multiply by 44.660 and divide by density in CGS. [There is a small issue regarding what
density to use, but it gets buried in the decimal place weeds. It is best to use sigma-0, i.e.
(1000 + sigma0)/1000 in CGS.] To go from nutrients in μmol/l to μmol/kg divide by density
in CGS. Use sigma-0 for the nutrient conversion. See the document &quot;O2 in volume units to
O2 in mass units.pdf&quot; at xxURLxx for instructions on how to use JOA to convert oxygen and
nutrient data from volume units to mass units, required for direct comparisons with data
from cruises where those parameters are expressed in mass units. </p>
          </div>
{% endblock %}
