{% extends "data/index.html" %}
{% block body %}
<div class="data_content data reid">
<h2>Reid/Mantyla Section Data</h2>

<table class="index">
  <thead>
    <tr>
      <th><h3>Atlantic Ocean</h3> (<a href="/data_files/reid/joa/reid_atl.zip">download all</a>)</th>
      <th><h3>Indian Ocean</h3> (<a href="/data_files/reid/joa/reid_ind.zip">download all</a>)</th>
      <th><h3>Pacific Ocean</h3> (<a href="/data_files/reid/joa/reid_pac.zip">download all</a>)</th>
    </tr>
  </thead>
  <tbody><tr>
    <td>
      <ul>
        <li><a href="/data/reid/Atlantic/entire">Entire Atlantic Ocean</a></li>
        <li><a href="/data/reid/Atlantic/subbasin">by Sub-Basins</a></li>
        <li><a href="/data/reid/Atlantic/date">by Date of Cruise</a></li>
        <li><a href="/data/reid/Atlantic/ship">by Ship Name/Code</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data/reid/Indian/entire">Entire Indian Ocean</a></li>
        <li><a href="/data/reid/Indian/date">by Date of Cruise</a></li>
        <li><a href="/data/reid/Indian/ship">by Ship Name/Code</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data/reid/Pacific/entire">Entire Pacific Ocean</a></li>
        <li><a href="/data/reid/Pacific/subbasin">by Sub-Basins</a></li>
        <li><a href="/data/reid/Pacific/date">by Date of Cruise</a></li>
        <li><a href="/data/reid/Pacific/ship">by Ship Name/Code</a></li>
      </ul>
    </td>
  </tr>
</tbody></table>

<h3>Description</h3>
<!--p>This set is a collection of ca. 2200 vertical sections assembled from the
original NODC data files contributing to SIO Professor Joseph Reid's World
Ocean data collection. From the many thousands of cruises in NODC Archives, and
some newer cruises originally from colleagues, over more than two decades Joe
sifted for the best available data from each region of the World Ocean (except
for the Arctic). His intended purpose was to make maps of water properties, and
so he cut off stations from a cruise where a better (better for his purposes)
cruise overlapped it. He made corrections to many of the data for known offsets
(mostly standard seawater batch offsets). Here we went into the NODC files and
retrieved the entire cruise data set for each cruise Joe used, assembled the
stations into sensible vertical sections, applied the same corrections Joe
used, and then we culled many bad data values. The resulting 2200 sections
represent the basic data knowledge of the deep ocean basins prior to the 1990s.
The data sets all include temperature and salinity, nearly all have dissolved
oxygen data, and most have nutrient (NO3, PO4, and/or SiO3) data.</p-->

<p>We have prepared ca. 2200 vertical sections from the original NODC data
files contributing to SIO Professor Joseph Reid's ‘pre-WOCE’ (pre-1990s) World
Ocean data collection. From the many thousands of cruises in NODC Archives, and
some newer cruises originally from colleagues, over more than two decades Joe
sifted for the best available data from each region of the World Ocean (except
for the Arctic). His intended purpose was to make maps of water properties, and
so he cut off stations from a cruise where a better (better for his purposes)
cruise overlapped it. He made corrections to many of the data for known offsets
(mostly standard seawater batch offsets). Here we went into the NODC files and
retrieved the entire cruise data set for each cruise Joe used, assembled the
stations into sensible vertical sections, applied the same corrections Joe
used, and then we culled many bad data values. The resulting 2200 sections
represent the basic data knowledge of the deep ocean basins prior to the 1990s.
The data sets all include temperature and salinity, nearly all have dissolved
oxygen data, and most have nutrient (NO3, PO4, and/or SiO3) data. 
</p>
          </div>
{% endblock %}
