{% block right_nav %}
<div class="section link">
  <a href="/home/aboutus.html">About Us</a>
</div>
<div class="section link">
  <a href="/home/siteguide.html">Getting Started and Site Guide</a>
</div>
<div class="section link">
  <a href="/home/links_resources.html">Links and Resources</a>
</div>

<div id="dpo_ad" class="section">
  <h1><a href="/dpo/">Access the DPO JOA Examples</a></h1>
  <p>This is the JOA accompaniment to <br> <em>Descriptive Physical Oceanography: An Introduction (Sixth Edition)</em>.</p>
  <p><b>DPO textbook website:</b> <br><a href="http://booksite.academicpress.com/DPO">http://booksite.academicpress.com/DPO</a></p>
</div>
{% endblock %}`
