{% extends 'layout.html' %}
{% block body %}
<div id="top"></div>
<h1>Java OceanAtlas Suite</h1>
<div id="home_tab_content">
  <h2>About Us</h2>

  <h3>About Dr. James Swift</h3>
  <p>Dr. James Swift is a research oceanographer at the Scripps Institution of Oceanography. His research interests include Arctic physical oceanography, ocean measurement and interpretation, and World Ocean water masses and circulation.  He helps coordinate academic field activities for the US Global Ocean Carbon and Repeat Hydrography Program and is Director of the CLIVAR and Carbon Hydrographic Data Office. He created this suite of ocean data exploration tools for teaching and research.</p>

  <h3>About Java OceanAtlas</h3>
  <p>Java OceanAtlas was developed by oceanographic applications specialist John "Oz" Osborne (OceanAtlas Software, Vashon Island, Washington), working with Dr. James Swift. Read about the <a href="/dpo/dpo_joa_examples/background/backgrounda.html" class="joa_link">Background of Java OceanAtlas</a>.</p>

  <h3>About the Data</h3>
  <p>The data on this site were assembled by Dr. James Swift from sources including the CLIVAR and Carbon Hydrographic Data Office, the Reid/Mantyla data set, Syd Levitus' World Ocean Atlas data sets, as well as his own research files. Matthew Shen and Roxanne Lee created the WOA09 and WOA05 subset files (respectively), including the WOA sections. The data archive is maintained by Matthew Shen.</p>

  <h3>About the DPO JOA Examples</h3>
  <p>Read about the <a href="/dpo/dpo_joa_examples/background/backgroundb.html" class="joa_link">Background of the DPO JOA EXAMPLES</a>.</p>

  <h3>About This Site</h3>
  <p>The JOA suite and DPO JOA Examples projects are managed by Carolina Berys, who also placed the text and imbedded graphics into interactive on-line form. The principal site design and mask logo were done by Roxanne Lee. The JOA DPO Examples site design was created by Roxanne Lee and Irene Chan. Additional design for data pages was contributed by Irene Chan. The site implementation was done by Matthew Shen. Graphics work for the logo was contributed by Theresa Calderon.</p>

</div>
{% endblock %}
{% block right_nav %}
{% include "home/_right_nav.html"%}
{% endblock %}
