{% extends 'layout.html' %}
{% block body %}
<h1>Java OceanAtlas Suite</h1>
<h2>Contact Information </h2>

<h3>Java OceanAtlas Technical Questions &amp; Comments:</h3>
<p>John "Oz" Osborne: <br />tooz at oceanatlas.com</p>

<h3>Science Issues, Suggestions &amp; Data File Questions:</h3>
<p>Dr. James H. Swift:	<br />jswift@ucsd.edu</p>

<h3>Website Specific Questions &amp; Comments:</h3>
<table>
	<tr>
		<td>Matthew Shen:	<br />myshen@ucsd.edu</td>
		<td>Carolina Berys:  <br />carolina@ucsd.edu</td>
  </tr>
</table>
{% endblock %}
{% block right_nav %}
{% include "home/_right_nav.html"%}
{% endblock %}
