{% extends "layout.html" %}
{% block body %}
<div class="image">
  <img alt="Front5" src="static/images/front5.jpg">
  <div class="caption">Deploying a rosette</div>
</div>

<div class="main">
  <h1>Welcome to the Java OceanAtlas suite!</h1>
  <h2>An interactive tool to explore the ocean.</h2>

  <div class="links">
    <p>
      Here we provide access to legacy data and other materials from an earlier version of the JOA site including the pre-WOCE data contributing to SIO Professor Joseph L Reid’s data collection, the DPO JOA Examples and their data, and a collection of other data files.
    </p>
    <p>
    The <b>Legacy JOA data</b> set, including pre-WOCE data, WOA data, data for the DPO JOA Examples, and more.<br>  
    <a href="/data" class="joa_link">Go to Legacy JOA data page</a>
    </p>
    <p>
    The <b>DPO JOA Examples</b> accompaniment to the textbook<br> <em>Descriptive Physical Oceanography: An Introduction (Sixth Edition)</em> . <br>
    <a href="/dpo" class="dpo">Go to The DPO JOA Examples</a>
    </p>
    <p>
      <b>About the DPO JOA Examples</b><br>
      Read about the <a href="/dpo/dpo_joa_examples/background/index.html" class="joa_link">Background of the DPO JOA EXAMPLES</a>.
    </p>
    <p>
      <b>About This Site</b><br>
      The DPO JOA Examples project was managed by Carolina Berys, who also placed the text and imbedded graphics into interactive on-line form. The principal site design was done by Roxanne Lee. The JOA DPO Examples site design was created by Roxanne Lee and Irene Chan. Additional design for data pages was contributed by Irene Chan. The site implementation was done by Matthew Shen. Graphics work for the logo was contributed by Theresa Calderon.
    </p>
  </div>
</div>
{% endblock %}
{% block right_nav %}
{% include "home/_right_nav.html"%}
{% endblock %}
