{% extends 'layout.html' %}
{% block body %}
<h1>Java OceanAtlas Suite</h1>
<h2>Links and Resources</h2>
<ul>
  <li>
    <a href="//cchdo.ucsd.edu" class="joa_link">CLIVAR and Carbon Hydrographic Data Office (CCHDO)</a>
    <br>
    Download global ocean hydrographic data in WOCE, Exchange, and NetCDF
    formats. Bottle and CTD data available from 1977 to present.
  </li>
  <li>
    <a href="//ushydro.ucsd.edu" class="joa_link">US Repeat Hydrography (USHYDRO)</a>
    <br>
    Information about the US Repeat Hydrography Program.
  </li>
  <li>
    <a href="//www.nodc.noaa.gov" class="joa_link">National Oceanographic Data Center (NODC)</a>
    <br>
    NOAA's National Oceanographic Data Center (NODC) is an organization
    that provides scientific and public stewardship for national and
    international marine environmental and ecosystem data and information.
  </li>
  <li>
    <a href="//scripps.ucsd.edu" class="joa_link">Scripps Institution of Oceanography (SIO)</a>
    <br>
    Scripps Institution of Oceanography is one of the oldest, largest, and most
    important centers for ocean and earth science research, education, and
    public service in the world. Research at Scripps Institution of
    Oceanography encompasses physical, chemical, biological, geological, and
    geophysical studies of the oceans and earth.
  </li>
</ul>
{% endblock %}
{% block right_nav %}
{% include "home/_right_nav.html"%}
{% endblock %}
