{% extends 'layout.html' %}
{% block body %}
<h1>Java OceanAtlas Suite</h1>
<h2>Site Guide</h2>
<div class="joa_installation">

  <p>Following is a brief overview to help you navigate through this site.</p>

  <h3>JOA application tab</h3>
  <p>Download the Java OceanAtlas application in the <a href="/joa" class="joa_link">JOA application tab</a>, choose the correct version for your operating system: Mac, Windows, or Linux.</p>
  <p>In <a href="/joa/etopo5.html" class="joa_link">Bathymetry Add-ins (Etopo5 and Etopo2)</a> you will find etopo-5 files, instructions on getting etopo-2 files, and instructions on how to use these supplementary bathymetry files in JOA.
  </p><p> The online <a href="/tour" class="joa_link">Guided Tour</a> and PDF JOA User Guide offer basic and detailed instruction on using JOA and it's features.</p>

  <p><b>Note:</b> Java OceanAtlas is an application.  It must be installed on your computer in the same manner that any other application is installed on that computer, for example by copying the application and all its support files together into one place on your computer's hard drive. Java OceanAtlas cannot be run remotely, from a website, or from a removable disk such as a data DVD. Java OceanAtlas requires that its support files be located in the same folder/directory as the JOA application</p>



  <h3>JOA data tab</h3>

  <p>In the <a href="/data" class="joa_link">JOA data tab</a> you will find links and descriptions to the special data sets that accompany Java OceanAtlas and the DPO JOA Examples.</p>

  <h3>DPO JOA Examples tab</h3>

  <p>In the <a href="/dpo" class="joa_link">DPO JOA Examples tab</a> you will find the instructional JOA accompaniment to the Descriptive Physical Oceanography textbook. To use the DPO JOA Examples, you must download the JOA application found in the <a href="/joa" class="joa_link">JOA application tab</a>.</p>

  <!-- The Java Ocean Atlas Suite contains the JOA application, data sets for use with JOA, and the DPO JOA Examples which accompany the Descriptive Physical Oceanography textbook by Lynne Talley et al.

    <h3>Navigating this site</h3>



    <h3>The JOA application tab</h3>


    <h3>The Data</h3>
    <em>the data sets</em><br />
    <em>dpo joa examples specific data set</em>

    <h3>DPO JOA Examples</h3>


    <h3>Other Information</h3> -->



</div>
{% endblock %}
{% block right_nav %}
{% include "home/_right_nav.html"%}
{% endblock %}
