{% extends "data/index.html" %}
{% block body %}
<div class="data_content data arctic">
<h2>Arctic/Nordic</h2> 

<p>
  <a href="/data_files/arctic/arctic_data.zip" title="Download all of the Arctic/Nordic files">download all</a> (617 KB)
</p>
 
<table>
  <tr>
    <td>
      <ul>
        <li><a href="/data_files/arctic/Arctic_Section_1994_bot.joa">Arctic Section 1994 (bottle)</a></li>
        <li><a href="/data_files/arctic/Arctic_Section_1994_ctd.joa">Arctic Section 1994 (ctd)</a></li>
      </ul>
    </td>
    <td>
      The AOS-94 section collected from CCGS Louis S. St-Laurent across the
Chukchi slope, Chukchi Borderland, Mendeleyev Ridge, Makarov Basin, and
Lomonosov Ridge to the North Pole - with three more profiles in the Eurasian
Basin.  Both decimated CTD and routine hydrographic (bottle) data are provided.
    </td>
  </tr>
  <tr>
    <td>
      <a href="/data_files/arctic/Eurasian_Makarov_1991_ctd.joa">Eurasian Makarov 1991 (ctd)</a> 
    </td>
    <td>
      The 1991 Oden section from the central Nansen Basin, across the Amundsen
Basin, over the Lomonosov Ridge, and into the Makarov Basin.  Decimated CTD
data are provided.
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li><a href="/data_files/arctic/Kara_to_Makarov_1996_bot.joa">Kara to Makarov 1996 (botttle)</a></li>
        <li><a href="/data_files/arctic/Kara_to_Makarov_1996_ctd.joa">Kara to Makarov 1996 (ctd)</a></li>
      </ul>
    </td>
    <td>
      The 1996 PFS Polarstern section across the mouth of the Kara Sea, across
the Nansen and Amundsen Basins, over the Lomonosov Ridge, and into the Makarov
Basin.  Decimated CTD and a bottle file with pressure, temperature, salinity,
and oxygen data are provided.
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li><a href="/data_files/arctic/NansenBasin_1987_bot.joa">Nansen Basin 1987 (bottle)</a></li>
        <li><a href="/data_files/arctic/NansenBasin_1987_ctd.joa">Nansen Basin 1987 (ctd)</a></li>
      </ul>
    </td>
    <td>
      The 1987 PFS Polarstern section across the Nansen Basin.  Both decimated CTD and routine hydrographic (bottle) data are provided.  The bottle oxygen data have been corrected for a small offset (0.04 ml/l with respect to the data from the AOS94 expedition and other recent expeditions).
    </td>
  </tr>
  <tr>
    <td>
      <a href="/data_files/arctic/Nordic_Seas_1982_bot.joa">Nordic Seas 1982 (bottle)</a> 
    </td>
    <td>
      A section from just north of the Faeroe-Shetland Channel, across the Norwegian Sea to Jan Mayen, and across the Greenland Sea to Fram Strait from the winter 1982 Hudson expedition.  Bottle data are provided.
    </td>
  </tr>
  <tr>
    <td>
      <a href="/data_files/arctic/NorthPole_Yermak_1991_ctd.joa">North Pole Yermak 1991 (ctd)</a> 
    </td>
    <td>
      The 1991 Oden section from the North Pole, across the Amundsen Basin,
over the Morris-Jessup Plateau, and to the Yermak Plateau.  Decimated CTD data
are provided.
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li><a href="/data_files/arctic/S_Canada_Basin_1997_bot.joa">S. Canada Basin 1997 (bottle)</a></li>
        <li><a href="/data_files/arctic/S_Canada_Basin_1997_ctd.joa">S. Canada Basin 1997 (ctd)</a></li>
      </ul>
    </td>
    <td>
      The 1997 CCGS Louis S. St-Laurent section from the Alaskan slope across
the southern Canada Basin.  Both decimated CTD and routine hydrographic
(bottle) data are provided.  The CTD profiles include dissolved oxygen data,
one of the few reference quality Arctic Ocean CTD data sets with this
parameter.
    </td>
  </tr>
  <tr>
    <td>
      <a href="/data_files/arctic/Trans_Arctic_CTD_Section.joa">Trans Arctic CTD Section</a> 
    </td>
    <td>
      A CTD section (decimated data) from the Chukchi slope to the Barents Sea
slope, assembled from the 1994, 1991, and 1987 expeditions. 
    </td>
  </tr>
</table> 
</div>
{% endblock %}
