{% extends "data/index.html" %}
{% block body %}
<h2>Other Data Files</h2> 
 
<h2><a href='/data/other/GEOSECS.html'>Geosecs Atlantic Set</a></h2> 
<p>The <b>GE</b>ochemical <b>O</b>cean <b>SEC</b>tions <b>S</b>tudy during
1972-78 occupied 454 stations throughout the World Ocean for the purpose of
collecting measurements of the "geochemical properties of the oceans with
respect to large-scale circulation problems".  GEOSECS marks the first deep
water use of the Neil Brown CTD and the development of many of the present-day
analytic techniques used in seawater analyses.  We have assembled a few
hydrographic sections from this global program.</p> 
 
<h2><a href="/data/other/TTO.html">TTO Atlantic Set</a></h2> 
<p>The objectives of the <b>T</b>ransient <b>T</b>racers in the <b>O</b>cean
North Atlantic Study (1981) and Tropical Atlantic Study (1982-1983) were to collect sections of profiles of hydrographic and
geochemical tracers, both natural and anthropogenic, to study the large scale circulation
and ventilation of the North and tropical Atlantic Ocean. We have assembled several
hydrographic sections from this program.</p> 

<h2><a href="/data/other/SAVE.html">SAVE Atlantic Set</a></h2> 
<p>The <b>S</b>outh <b>A</b>tlantic <b>V</b>entilation <b>E</b>xperiment
(1987-1988) was a follow on to the Transient Tracers in the Ocean program North Atlantic Study. The objective in this case was to collect
sections of profiles of hydrographic and geochemical tracers, both natural and
anthropogenic, to study the large scale circulation and ventilation of the South Atlantic
Ocean. We have assembled hydrographic sections from this program.</p> 
 
<h2><a href="/data/other/preWOCE.html">Pre-WOCE Basin Scale Sections</a></h2> 
<p>During the time the original OceanAtlas applications were distributed, some of the best of
the pre-WOCE basin scale hydrographic sections were assembled and translated into
OceanAtlas format. Although the high-resolution WOCE Hydrographic Program, CLIVAR
Repeat Hydrography, and GO-SHIP sections cover a greater portion of the World Ocean, and
although those data are generally of higher resolution and contain measurements of
additional water properties, many of these earlier sections retain significant value, both for
comparison with WHP data and on their own as excellent sections. We present a selection of
these pre-WOCE sections via a graphic interface. (A few of the pre-WOCE sections were
adopted by WOCE and so appear as both pre-WOCE and WOCE data.)</p> 
 
<h2><a href="/data/other/arctic.html" class="joa_link">Arctic/Nordic</a></h2> 
<p>A selection of Arctic Ocean and Nordic Sea sections (CTD and bottle data)
from various expeditions beginning in 1982. <br><br>
IMPORTANT NOTE: The oxygen and nutrient data in this copy of the original JOA &quot;Other
Data Files&quot; collection are often in volume units (numerically only ≈2.6% adjustment for
nutrients but a factor of ≈45x for dissolved oxygen). To go from O2 in ml/l to O2 in μmol/kg
multiply by 44.660 and divide by density in CGS. [There is a small issue regarding what
density to use, but it gets buried in the decimal place weeds. It is best to use sigma-0, i.e.
(1000 + sigma0)/1000 in CGS.] To go from nutrients in μmol/l to μmol/kg divide by density
in CGS. Use sigma-0 for the nutrient conversion. See the document &quot;<a href="/static/joa/files/O2%20in%20volume%20units%20to%20O2%20in%20mass%20units.pdf">O2 in volume units to
O2 in mass units.pdf</a>&quot; for instructions on how to use JOA to convert oxygen and
nutrient data from volume units to mass units, required for direct comparisons with data
from cruises where those parameters are expressed in mass units.
</p> 
{% endblock %}
