{% extends "data/index.html" %}
{% block body %}
<h2>SAVE</h2>

<p>Click on a line label to view the data.</p>
<p>
<map name="atl_save">
  <area shape="RECT" href="#B19876NC" coords="147,21,197,37" title="1987 Knorr Save Leg 1">
    <area shape="RECT" href="#B19876NB" coords="200,28,248,45" title="1987 Knorr Save Legs 2 &amp; 3">
      <area shape="RECT" href="#B19876NA" coords="183,50,210,67" title="1987-88 Knorr Save Leg 2">
        <area shape="RECT" href="#B19886NA" coords="187,79,213,94" title="1988-89 Knorr/Melville Save Legs 3 &amp; 4">
          <area shape="RECT" href="#B19898MC" coords="127,106,158,123" title="1989 Melville 41W">
            <area shape="RECT" href="#B19886NB" coords="178,110,222,128" title="1988-89 Knorr/Melville Save Legs 4 &amp; 3">
              <area shape="RECT" href="#B1990MTA" coords="210,142,260,160" title="1990 Meteor 63-35S">
                <area shape="RECT" href="#B1990MTB" coords="53,161,109,181" title="1990 Meteor 62W">
</map>
<img alt="Atl_save" src="/static/images/joa_data/SAVE/atl_save.gif?1296761426" usemap="atl_save">
</p>

<p>
<a href="/data_files/reid/joa/entire_save_atl.zip">Download this entire set of data</a>
</p>

<table>
  <tr id="B19876NC">
    <td>10S-05N</td>
    <td><a href="/data_files/reid/nodc_sd2/B19876NC.TXT">B19876NC.TXT</a></td>
    <td>(Knorr - Save Leg 1)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1987.6N.10S_5N.joa">satl.1987.6N.10S_5N.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 33 stations from 10.005 degrees South to 5.436 degrees North, 35.183 degrees West to 9.966 degrees West. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. There are at least 27 full depth casts. </td>
  </tr>
  <tr id="B19876NB">
    <td>10S-02N</td>
    <td><a href="/data_files/reid/nodc_sd2/B19876NB.TXT">B19876NB.TXT</a></td>
    <td>(Knorr - Save Legs 2 &amp; 3)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1987.6N.10S_2N.joa">satl.1987.6N.10S_2N.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 15 stations from 10.173 degrees South to 2.65 degrees North, 3.628 degrees West to 12.661 degrees East. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. There are at least 14 full depth casts. </td>
  </tr>
  <tr id="B19876NA">
    <td>14S</td>
    <td><a href="/data_files/reid/nodc_sd2/B19876NA.TXT">B19876NA.TXT</a></td>
    <td>(Knorr - Save Leg 2)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1987-88.6N.14S.joa">satl.1987-88.6N.14S.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 48 stations along 14S, 37.878 degrees West to 12.661 degrees East. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. All stations have full depth casts. </td>
  </tr>
  <tr id="B19886NA">
    <td>26S</td>
    <td><a href="/data_files/reid/nodc_sd2/B19886NA.TXT">B19886NA.TXT</a></td>
    <td>(Melville/Knorr - Save Legs 3 &amp; 4)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1988-89.6N-8M.26S.joa">satl.1988-89.6N-8M.26S.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 52 stations along 26S, 41.35 degrees West to 15.346 degrees East. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. All stations have full depth casts. </td>
  </tr>
  <tr id="B19898MC">
    <td>41W</td>
    <td><a href="/data_files/reid/nodc_sd2/B19898MC.TXT">B19898MC.TXT</a></td>
    <td>(Melville - Save 41W)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1989.8M.41W.joa">satl.1989.8M.41W.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 26 stations from 53.415 degrees South to 32.29 degrees South, along 41W. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. All stations have full depth casts. </td>
  </tr>
  <tr id="B19886NB">
    <td>47S-4N</td>
    <td><a href="/data_files/reid/nodc_sd2/B19886NB.TXT">B19886NB.TXT</a></td>
    <td>(Knorr/Melville - Save Legs 4 &amp; 3)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1988-89.6N-8M.47S_4N.joa">satl.1988-89.6N-8M.47S_4N.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 79 stations from 47.058 degrees South to 4.866 degrees North, 60.82 degrees West to 1.043 degrees East. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. There are at least 68 full depth casts. </td>
  </tr>
  <tr id="B1990MTA">
    <td>63N-35S</td>
    <td><a href="/data_files/reid/nodc_sd2/B1990MTA.TXT">B1990MTA.TXT</a></td>
    <td>(Meteor Post-7/64 - Save Meteor)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1990.MT.63S_35S.joa">satl.1990.MT.63S_35S.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 62 stations from 63.165 degrees South to 35.331 degrees South, 47.25 degrees West to 18.45 degrees East. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. There are at least 55 full depth casts. </td>
  </tr>
  <tr id="B1990MTB">
    <td>68W-63W</td>
    <td><a href="/data_files/reid/nodc_sd2/B1990MTB.TXT">B1990MTB.TXT</a></td>
    <td>(Meteor Post-7/64 - Save Atlantic 62W)</td>
    <td><b>JOA:</b> <a href="/data_files/reid/joa/satl.1990.MT.68W_63W.joa">satl.1990.MT.68W_63W.joa</a></td>
  </tr>
  <tr>
    <td colspan="4">A section of 16 stations from 62.856 degrees South to 56.33 degrees South, 68.25 degrees West to 63.525 degrees West. All have temperature, salinity, oxygen, phosphate, silicate, nitrate. All stations have full depth casts. </td>
  </tr>
</table>
{% endblock %}
