{% block right_nav %}
<div class="section">
  <h1>Download or Update</h1>
  <p>
  <a href="/joa">Java OceanAtlas Application</a>
  </p>
  <div class="alert alert-info">
    <p>
    <small>
      If you already have JOA 5.0 installed on your computer, you can
      simply replace your copy's JOA5.jar file with the new version.
    </small>
    </p>
    <p>
    <small>Follow <a href="/joa/updates.html">these instructions</a> to update JOA. </small>
    </p>
  </div>
</div>
<div class="section">
  <h1>Guides</h1>
  <ul>
    <li><a href="/tour" class="btn">Take a Guided Tour</a></li>
    <li><a href="/files/JOA5_UserGuide.pdf">JOA User Guide (PDF)</a>
      <p>
      <span class="label label-info">Please note</span>
      <small>This user guide is under construction</small>
      </p>
    </li>
    <li>
      <a href="/joa/features.html">Managing JOA Features</a>
      <p>
      <small>
        Enable built-in JOA features, such as additional plot and
        calculation types. Also use to temporarily disable features.
      </small>
      </p>
    </li>
  </ul>
</div>
<div class="section">
  <h1>Support Files</h1>
  <ul>
    <li><a href="/joa/etopo5.html">Bathymetry Add-ins (Etopo5 and Etopo2)</a></li>
    <li><a href="/joa/support_files/ROSE-black_cbr.xml">ROSE-black_cbr.xml</a></li>
  </ul>
</div>
{% endblock %}`
