{% extends "layout.html" %}
{% block body %}
<div id="top"></div>
<h1>Java OceanAtlas Application</h1>
<p>
Java OceanAtlas (JOA) is a multi-OS application for viewing and exploring
ocean vertical profile data. Along with a broad collection of data, JOA is
the culmination of a long dream: a collection of some of the most useful
oceanographic section data from the World Ocean with a multi-platform
computer application for exploring those data.
</p>
<div class="alert alert-block">
  <strong>Important error note (04 OCT 2017):</strong>
  <p>
   Due to an OS change made by Apple, it is not currently possible for Mac OS 10.12 
   (Sierra) users to successfully open an internet downloaded copy of the Mac OS 
   version of Java OceanAtlas. Until a work-around is in place, Mac OS 10.12 users 
   can obtain Java OceanAtlas only via flash drive or other file sharing mechanisms 
   which do not involve download over the internet.i
   </p>

   <p>
   <strong>Alternatively</strong>, see the instructions for removing Mac quarantine restrictions 
   from downloaded software via Terminal <a href="/joa/mac_quarantine_removal_instructions.html"><strong>here</strong></a>.
  </p>
</div>

<div class="downloads">
  <h3>Download Current Versions</h3>
  <h3>JOA 5.4</h3>
  <p>JOA 5.4 is considered pre-release software. There are known problems. Check the About dialog for specific version and release date. Current version is 5.4a1 (09/13/2017)</p>
  <div class="row">
    <div class="span4">
      <h4>Mac OS X</h4>
      <p><a href="http://cchdo.ucsd.edu/data/13730/JOA5.4.zip" class="btn btn-primary">Get JOA 5.4</a></p>
      <p><small>(71 MB)</small></p>
    </div><!--close span4-->
  <div class="span8">
	  <p>Tested for Mac OS X 10.12 (Sierra) or greater. It may work on earlier versions of Mac OS X. This version of JOA contains an embedded Java environment and does not require a separate Java download.</p>
  </div><!--close span8-->
  </div><!--close row-->
  <br>
  <div class="row">  
    <div class="span4">
      <h4>Windows</h4>
      <p><a href="http://cchdo.ucsd.edu/data/13731/JOA 5.4 Setup.msi" class="btn btn-primary">Get JOA 5.4</a></p>
      <p><small>(74 MB)</small></p>
    </div><!--close span4-->
    <div class="span8">
      <p>Tested for Windows 10. It has not been tested under Windows 8.1 or earlier versions of Windows. This version of JOA contains an embedded Java environment and does not require a separate Java download.</p>
    </div><!--close span8-->
  </div><!--close row-->
  <h3>JOA 5.3</h3>
  <p>There are known problems, including issues with netCDF files and the need to make a plot before browsing.</p>
  <div class="row">
    <div class="span4">
      <h4>Mac OS X</h4>
      <p><a href="http://cchdo.ucsd.edu/data/12001/JOA5.3.zip" class="btn btn-primary">Get JOA 5.3</a></p>
      <p><small>(71 MB)</small></p>
    </div><!--close span4-->
  <div class="span8">
	  <p>Tested for Mac OS X 10.11 or earlier. It may work on earlier versions of Mac OS X. This version of JOA contains an embedded Java environment and does not require a separate Java download.</p>
  </div><!--close span8-->
  </div><!--close row-->
  <br>
  <div class="row">  
    <div class="span4">
      <h4>Windows</h4>
      <p><a href="http://cchdo.ucsd.edu/data/12002/JOA 5.3 Setup.msi" class="btn btn-primary">Get JOA 5.3</a></p>
      <p><small>(74 MB)</small></p>
    </div><!--close span4-->
    <div class="span8">
      <p>Tested for Windows 7, 8, and 8.1. It has not been tested under Windows 10 or XP. This version of JOA contains an embedded Java environment and does not require a separate Java download.</p>
    </div><!--close span8-->
  </div><!--close row-->

  <h3><a href="/joa/joa_previous_versions.html">Click Here for Previous Versions of JOA</a></h3>

<div id="install">
  <h3>Install</h3>
  <ul>
    <li><a href="/joa/joa_download_instructions.html">General installation instructions</a></li>
    <li><a href="/joa/joa_download_mac.html">Mac specific installation instructions</a></li>
    <li><a href="/joa/joa_download_windows.html">Windows specific installation instructions</a></li>
  </ul>
</div>

<div id="update">
  <h3>Update</h3>
  <p>
  If you already have JOA 5.0 installed on your computer, you can just
  replace your copy's JOA5.jar file with the new version.
  Follow <a href="/joa/updates.html">these instructions</a> to update JOA.
  </p>
  <!--
  <div class="alert alert-info">
  There are currently no updates avaiable for JOA 5.3
  </div>
  <p><a href="/static/joa/mac/jar5.3/JOA5.jar" class="btn btn-primary">JOA 5.3 JOA5.jar</a> (3.8 MB)</p>
  -->
  <div class="row">
    <div class="span4">
      <h4>JOA 5.4</h4>
    </div><!--close span4-->
    <div class="span8">
      <p>There are currently no updates available for JOA 5.4
      </p>
    </div><!--close span8-->
  </div><!--close row-->
  <br>
  <div class="row">
    <div class="span4">
      <h4>JOA 5.3</h4>
    </div><!--close span4-->
    <div class="span8">
      <p>There are currently no updates available for JOA 5.3
      </p>
    </div><!--close span8-->
  </div><!--close row-->
</div><!--close update-->
</div><!--close downloads-->
{% endblock %}
{% block right_nav %}
{% include "joa/_right_nav.html"%}
{% endblock %}
