{% extends "layout.html" %}
{% block body %}
<h1>Java OceanAtlas Application</h1>
<h2>Windows Installation Instructions</h2>
<div class="joa_installation">
  <!-- <p>PLEASE NOTE: In order to run JOA 4 on Windows Vista, you must have a working Java VM.</p>

    <p class="list_title">Windows Installation Notes</p>
    <p>After downloading, just double-click to install.<br />If you do not have a Java virtual machine installed, be sure to download the package above which includes one. </p>
    <p class="list_title">Windows System Requirements</p>
    <p>Microsoft Windows 9X/2000/NT/ME
    <br />128 MB RAM (256 MB or more recommended) 
    <br />At least 100 MB hard-disk space 
    <br />256-color video display adapter </p> -->


    <p>PLEASE NOTE: In order to run JOA 5 on Windows, you must have a working Java VM installed. </p>

    <p>Start at:
    <a href="http://www.java.com/en/" class="joa_link">http://www.java.com/en/</a></p>

    <p>Click the Free Java Download button to download a JVM to your PC. The download page will determine the appropriate version of Java to download. Once downloaded, follow all installation instructions to install Java on your PC.

    </p><p>This link will tell you what version of Java you have installed (if any):
    <a href="http://www.java.com/en/download/installed.jsp" class="joa_link">http://www.java.com/en/download/installed.jsp</a>

    </p><h3>Installation</h3>
    <p>After downloading, just double-click installer icon to begin installation process:<br>
    <img alt="Windows-1" src="/static/images/joa_images/windows-1.png"></p>

    <p>Note: The installation file you download will have a _32 or _64 at the end of the file name depending on what version of the installer you have downloaded.</p>

    <p>You will be presented with a series of dialogs to guide you through the installation process:<br>
    <img alt="Windows-2" src="/static/images/joa_images/windows-2.png"></p>

    <p>Select an installation folder if different than the default:<br>
    <img alt="Windows-3" src="/static/images/joa_images/windows-3.png"></p>

    <p>Click Install to install JOA onto your PC:  <br>
    <img alt="Windows-4" src="/static/images/joa_images/windows-4.png"></p>

    <p>Click Finish at the end of the installation process:<br>
    <img alt="Windows-5" src="/static/images/joa_images/windows-5.png"></p>

    <h3>Windows System Requirements</h3>
    <p>Java 6.0 (1.6)<br>
    Microsoft Windows XP, Vista, and 7<br>
    4 GB of RAM</p>
</div>
{% endblock %}
{% block right_nav %}
{% include "joa/_right_nav.html"%}
{% endblock %}
