{% extends "layout.html" %}
{% block body %}
<h1>Java OceanAtlas Application</h1>
<h2>Mac Installation Instructions</h2>
<div class="joa_installation">

    </p><h3>Installation</h3>
    <p>You do not have to install a separate Java environment for JOA 5.3</p>

    <p><a href="http://cchdo.ucsd.edu/data/11986/JOA5.3.zip">Download</a> the Zip file</p>
    <p>Copy the zip file to your desired location. We recommend making a new folder for JOA.</p>
    <p>Double-click to expand the zip file. You should have these files in your new folder:<br>
    <img alt="List of folders: bathymetry, coastlines, Example Data Files, Java OceanAtlas 5.0, JOA_Support, lexicon.txt, ndeditsettings.txt, temp" src="/static/dpo_examples/images/JOAimages/install_application.png"></p>

    <p>You can discard the zip file or keep it as a backup.</p>

    <h3>Mac System Requirements</h3>
    <p>JOA 5.2.1: Mac OS X 10.9 or lower<br>
    JOA 5.3: Mac OS X 10.10 or higher<br>
    4 GB of RAM</p>
</div>
{% endblock %}
{% block right_nav %}
{% include "joa/_right_nav.html"%}
{% endblock %}
