{% extends "data/index.html" %}
{% block body %}
<h2>The Best Data Files</h2> 
 
<h3>Atlantic Ocean</h3> 
<div class="data_map"> 
  <a href="/dpo_examples/images/ch9/map_atl.png" rel="lightbox" title="Atlantic sections map"> 
  <img align="middle" width="250" src="/dpo_examples/images/ch9/map_atls.png" /> 
  </a> 
</div> 
 
<table class="data_table"> 
	<tr> 
		<td> 
	<ul> 
		<li>A01_1991:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A01_1991/A01_1991_bottle.poa">A01_1991_bottle.poa</a></li> 
			</ul> 
		</li> 
		<li>A01W_1995:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A01W_1995/A01W_1995_clean_bottle.joa">A01W_1995_clean_bottle.joa</a></li> 
			</ul> 
		</li> 
		<li>A03_1993:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A03_1993/A03_1993_bottle.joa">A03_1993_bottle.joa</a></li> 
			</ul> 
		</li> 
		<li>A05_1992:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A05_1992/A05_1992_clean_bottle.joa">A05_1992_clean_bottle.joa</a></li> 
			</ul> 
		</li> 
		<li>A05_1998:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A05_1998/A05_1998_clean_bottle.joa">A05_1998_clean_bottle.joa</a></li> 
			</ul> 
		</li> 
		<li>A06_1989:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A06_1989/A06_1989_bottle.joa">A06_1989_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A08_1983:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A08_1983/A08_1983_bottle.joa">A08_1983_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A08_1994:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A08_1994/A08_1994_bottle.joa">A08_1994_bottle.joa</a></li> 
	    	</ul> 
		</li> 
	</ul> 
	</td> 
	<td> 
	<ul> 
		<li>A10_1992:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A10_1992/A10_1992_bottle.joa">A10_1992_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A10_2003:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A10_2003/A10_2003_clean_bottle.joa">A10_2003_clean_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A12_1992:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A12_1992/A12_1992_clean_bottle_hy1.csv">A12_1992_clean_bottle_hy1.csv</li> 
				<li><a href="/data_files/best/Atlantic_sections/A12_1992/A12_1992_clean_bottle.joa">A12_1992_clean_bottle.joa</a></li> 
				<li><a href="/data_files/best/Atlantic_sections/A12_1992/A12_1992_clean_CTD.joa">A12_1992_clean_CTD.joa</a></li> 
			</ul> 
		<li>A13.5_AJAX_1983:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A13.5_AJAX_1983/A13.5_AJAX_1983_bottle.poa">A13.5_AJAX_1983_bottle.poa</a></li> 
			</ul> 
		</li> 
		<li>A16_1988_1989:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A16_1988_1989/A16_1988_1989_bottle.joa">A16_1988_1989_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A16_2003_2005:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A16_2003_2005/A16_2003_2005_clean_bottle.joa">A16_2003_2005_clean_bottle.joa</a></li> 
				<li><a href="/data_files/best/Atlantic_sections/A16_2003_2005/A16_2003_2005_decimated_CTD.joa">A16_2003_2005_decimated_CTD.joa</a></li> 
			</ul> 
		</li> 
	</ul> 
	</td> 
	<td> 
	<ul> 
		<li>A20_1997:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A20_1997/A20_1997_bottle.joa">A20_1997_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A20_2003:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A20_2003/A20_2003_clean_bottle.joa">A20_2003_clean_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A21_1990:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A21_1990/A21_1990_clean_bottle.joa">A21_1990_clean_bottle.joa</a></li> 
	    		<li><a href="/data_files/best/Atlantic_sections/A21_1990/A21_1990_clean_hy1.csv">A21_1990_clean_hy1.csv</li> 
				<li><a href="/data_files/best/Atlantic_sections/A21_1990/A21_1990_decimated_CTD.joa">A21_1990_decimated_CTD.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A22_1997:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A22_1997/A22_1997_bottle.joa">A22_1997_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>A22_2003:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/A22_2003/A22_2003_clean_bottle.joa">A22_2003_clean_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>Atlantic_35W_1983:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/Atlantic_35W_1983/Atlantic_35°W_bottle.joa">Atlantic_35°W_bottle.joa</a></li> 
	    	</ul> 
		</li> 
		<li>Atlantic_48N_nearA02_1982:
			<ul> 
				<li><a href="/data_files/best/Atlantic_sections/Atlantic_48N_nearA02_1982/Atlantic_48°N_1982_bottle.joa">Atlantic_48°N_1982_bottle.joa</a></li> 
	    	</ul> 
		</li> 
	</ul> 
	</td> 
	</tr> 
</table> 
 
<p class="spacer">&nbsp;</p> 
 
<h3>Pacific Ocean</h3> 
<div class="data_map"> 
  <a href="/dpo_examples/images/ch9/map_pac.png" rel="lightbox" title="Fig 9i-02 Pacific sections map"> 
  <img align="middle" alt="target" width="250" src="/dpo_examples/images/ch9/map_pacs.png" /> 
  </a> 
</div> 
 
<table class="data_table"> 
	<tr> 
		<td> 
			<ul> 
				<li>P01_1985_1993:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P01_1985_1993/P01_1985_1993_clean_CTD.joa">P01_1985_1993_clean_CTD.joa</a></li> 
						<li><a href="/data_files/best/Pacific_sections/P01_1985_1993/P01W_1985_1993_clean_bottle.joa">P01W_1985_1993_clean_bottle.joa</a></li> 
					</ul> 
				</li>	
				<li>P02_2004:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P02_2004/P02_2004_clean_bottle.joa">P02_2004_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P03_1985:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P03_1985/P03_1985_bottle.joa">P03_1985_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P04_1989:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P04_1989/P04_1989_bottle.joa">P04_1989_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P06_1992:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P06_1992/P06_1992_bottle.joa">P06_1992_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P06_2003:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P06_2003/P06_2003_clean_bottle.joa">P06_2003_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P10_2005:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P10_2005/P10_2005_clean_bottle_incomplete.joa">P10_2005_clean_bottle_incomplete.joa</a></li> 
						<li><a href="/data_files/best/Pacific_sections/P10_2005/P10_2005_clean_CTD.joa">P10_2005_clean_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>P11_1993:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P11_1993/P11_1993_bottle.joa">P11_1993_bottle.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
		<td> 
			<ul> 
				<li>P14_1992_1996:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P14_1992_1996/P14_1992_1996_clean_bottle.joa">P14_1992_1996_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Pacific_sections/P14_1992_1996/P14_1992_1996_clean_CTD.joa">P14_1992_1996_clean_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>P16_1991_1992:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P16_1991_1992/P16_1991_1992_heavydeci_CTD.joa">P16_1991_1992_heavydeci_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>P16_2005_2006:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P16_2005_2006/P16_2005_2006_bottle_clean.joa">P16_2005_2006_bottle_clean.joa</a></li> 
						<li><a href="/data_files/best/Pacific_sections/P16_2005_2006/P16_2005_2007_heavydeci_CTD.joa">P16_2005_2007_heavydeci_CTD.joa</a></li> 
						<li><a href="/data_files/best/Pacific_sections/P16_2005_2006/P16S_2005_2006_CTD.joa">P16S_2005_2006_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>P17_1991_1992_1993:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P17_1991_1992_1993/P17_1991_92_93_bottle.joa">P17_1991_92_93_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P17N_2001:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P17N_2001/P17N_2001_clean_bottle.joa">P17N_2001_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P18_2007:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P18_2007/P18_2007_clean_bottle.joa">P18_2007_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Pacific_sections/P18_2007/P18_2007_clean_CTD.joa">P18_2007_clean_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>P19_1993:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P19_1993/P19_1993_bottle.joa">P19_1993_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>P21_1994:
					<ul> 
						<li><a href="/data_files/best/Pacific_sections/P21_1994/P21_1994_bottle.joa">P21_1994_bottle.joa</a></li> 
					</ul> 
				</li>	
			</ul> 
		</td> 
	</tr> 
</table> 
 
<p class="spacer">&nbsp;</p> 
 
<h3>Indian Ocean</h3> 
 
<div class="data_map"> 
  <a href="/dpo_examples/images/ch9/map_ind.png" rel="lightbox" title="Fig 9i-03 Indian sections map"> 
  <img align="middle" alt="target" width="250" src="/dpo_examples/images/ch9/map_inds.png" /> 
   </a> 
</div> 
 
<table class="data_table"> 
	<tr> 
		<td> 
			<ul> 
				<li>I01_1995:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I01_1995/I01_1995_clean_bottle.joa">I01_1995_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>I02_1995_1996:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I02_1995_1996/I02_1995_1996_bottle.joa">I02_1995_1996_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>I04_I03_1995:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I04_I03_1995/I04_I03_1995_bottle.joa">I04_I03_1995_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>I04_I03_2003:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I04_I03_2003/I04_I03_2003_clean_bottle.joa">I04_I03_2003_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
		<td> 
			<ul> 
				<li>I04S_I07N_1995:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I04S_I07N_1995/I04S_I07N_1995_bottle.joa">I04S_I07N_1995_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>I05_1987:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I05_1987/I05_1987_bottle.joa">I05_1987_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>I05_2009:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I05_2009/I05_2009_clean_bottle.joa">I05_2009_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Indian_sections/I05_2009/I05_2009_clean_CTD.joa">I05_2009_clean_CTD.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
		<td> 
			<ul> 
				<li>I06S_2008:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I06S_2008/I06_2008_clean_CTD.joa">I06_2008_clean_CTD.joa</a></li> 
						<li><a href="/data_files/best/Indian_sections/I06S_2008/I06S_2008_clean_bottle.joa">I06S_2008_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>I08S_I09N_2007:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I08S_I09N_2007/I8S_I9N_2007_clean_bottle.joa">I8S_I9N_2007_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Indian_sections/I08S_I09N_2007/I8S_I9N_2007_heavydeci_ctd.joa">I8S_I9N_2007_heavydeci_ctd.joa</a></li> 
					</ul> 
				</li> 
				<li>I09S_1995:
					<ul> 
						<li><a href="/data_files/best/Indian_sections/I09S_1995/I09S_1995_bottle.joa">I09S_1995_bottle.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
	</tr> 
</table> 
 
<p class="spacer">&nbsp;</p> 
 
<h3>The Arctic and Northern Polar Oceans</h3> 
<div class="data_map"> 
  <a href="/dpo_examples/images/ch9/map_arc.png" rel="lightbox" title="Fig 9i-04 Arctic sections map"> 
  <img align="middle" alt="target" width="250" src="/dpo_examples/images/ch9/map_arcs.png" /> 
  </a> 
</div> 
 
<table class="data_table"> 
	<tr> 
		<td> 
			<ul> 
				<li>Nordic_70N_2002:
					<ul> 
						<li><a href="/data_files/best/Arctic_sections/Nordic_70N_2002/Nordic2002_70N_clean_bottle.joa">Nordic2002_70N_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
				<li>Nordic_75N_2002:
					<ul> 
						<li><a href="/data_files/best/Arctic_sections/Nordic_75N_2002/Nordic2002_75N_clean_bottle.joa">Nordic2002_75N_clean_bottle.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
		<td> 
			<ul> 
				<li>Trans_Arctic:
					<ul> 
						<li><a href="/data_files/best/Arctic_sections/Trans_Arctic/TransArcticNordic_clean_bottle.joa">TransArcticNordic_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Arctic_sections/Trans_Arctic/TransArcticNordic_clean_CTD.joa">TransArcticNordic_clean_CTD.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
	</tr> 
</table> 
 
<p class="spacer">&nbsp;</p> 
 
<h3>Southern Ocean</h3> 
<div class="data_map"> 
  <a href="/dpo_examples/images/ch9/map_sou.png" rel="lightbox" title="Fig 9i-05 Southern sections map"> 
  <img align="middle" alt="target" width="250" src="/dpo_examples/images/ch9/map_sous.png" /> 
  </a> 
</div> 
 
<table class="data_table"> 
	<tr> 
		<td> 
			<ul> 
				<li>S04_WOCE_circumAntarctic:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/S04_WOCE_circumAntarctic/S04_WOCE_circumAA_clean_bottle.joa">S04_WOCE_circumAA_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/S04_WOCE_circumAntarctic/S04_WOCE_circumAA_decimated_CTD.joa">S04_WOCE_circumAA_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>S04A_1996:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/S04A_1996/S04A_1996_clean_bottle.joa">S04A_1996_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/S04A_1996/S04A_1996_decimated_CTD.joa">S04A_1996_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>S04IE_1995:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/S04IE_1995/S04IE_1995_clean_bottle.joa">S04IE_1995_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/S04IE_1995/S04IE_1995_decimated_CTD.joa">S04IE_1995_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>S04IW_1996:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/S04IW_1996/S04IW_1996_clean_bottle.joa">S04IW_1996_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/S04IW_1996/S04IW_1996_decimated_CTD.joa">S04IW_1996_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
		<td> 
			<ul> 
				<li>S04P_1992:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/S04P_1992/S04P_1992_clean_bottle.joa">S04P_1992_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/S04P_1992/S04P_1992_decimated_CTD.joa">S04P_1992_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>SR01_A21_1997:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/SR01_A21_1997/SR01_1997_decimated_CTD.joa">SR01_1997_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>SR03_1995:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/SR03_1995/SR03_1995_clean_bottle.joa">SR03_1995_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/SR03_1995/SR03_1995_decimated_CTD.joa">SR03_1995_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
				<li>SR03_2001:
					<ul> 
						<li><a href="/data_files/best/Southern_sections/SR03_2001/SR03_2001_clean_bottle.joa">SR03_2001_clean_bottle.joa</a></li> 
						<li><a href="/data_files/best/Southern_sections/SR03_2001/SR03_2001_decimated_CTD.joa">SR03_2001_decimated_CTD.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
	</tr> 
</table>		

<h3>Global Ocean</h3> 
<!-- <div class="data_map"> 
  <a href="/dpo_examples/images/ch9/map_sou.png" rel="lightbox" title="Fig 9i-05 Southern sections map"> 
  <img align="middle" alt="target" width="250" src="images/map_sous.png" /> 
  </a> 
</div>  -->
 
<table class="data_table"> 
	<tr> 
		<td> 
			<ul> 
				<li>Global_sections:
					<ul> 
						<li><a href="/data_files/best/Global_sections/Ocean_Grand_Tour_2_small.pdf"> Ocean_Grand_Tour_2_small.pdf.pdf</a></li> 
						<li><a href="/data_files/best/Global_sections/Grand_Tour_2_Documentation.pdf"> Grand_Tour_2_Documentation.pdf</a></li> 
						<li><a href="/data_files/best/Global_sections/Ocean_Grand_Tour_2_bottle.joa">  Ocean_Grand_Tour_2_bottle.joa</a></li> 
						<li><a href="/data_files/best/Global_sections/Ocean_Grand_Tour_2_CTD.joa">  Ocean_Grand_Tour_2_CTD.joa</a></li> 
						<li><a href="/data_files/best/Global_sections/WBUC_NADW_section_bottle.joa">  WBUC_NADW_section_bottle.joa</a></li> 
					</ul> 
				</li> 
			</ul> 
		</td> 
	</tr> 
</table>	
{% endblock %}
