<h1>Guided Tour of Java OceanAtlas</h1>
<ul>
  <li{% if tour == 1 %} class="active"{% endif %}><a href="/tour/1">Basic Features</a></li>
  <li{% if tour == 2 %} class="active"{% endif %}><a href="/tour/2">Starting JOA</a></li>
  <li{% if tour == 3 %} class="active"{% endif %}><a href="/tour/3">Station Maps</a></li>
  <li{% if tour == 4 %} class="active"{% endif %}><a href="/tour/4">Profile Plots</a></li>
  <li{% if tour == 5 %} class="active"{% endif %}><a href="/tour/5">Changing Color/Contour Bar</a></li>
  <li{% if tour == 6 %} class="active"{% endif %}><a href="/tour/6">Calculate Parameters</a></li>
  <li{% if tour == 7 %} class="active"{% endif %}><a href="/tour/7">Property-Property Plots</a></li>
  <li{% if tour == 8 %} class="active"{% endif %}><a href="/tour/8">Browsing</a></li>
  <li{% if tour == 9 %} class="active"{% endif %}><a href="/tour/9">Modifying Plots</a></li>
  <li{% if tour == 10 %} class="active"{% endif %}><a href="/tour/10">Extracting Selections</a></li>
  <li{% if tour == 11 %} class="active"{% endif %}><a href="/tour/11">Contour Plots</a></li>
  <li{% if tour == 12 %} class="active"{% endif %}><a href="/tour/12">Other Features</a></li>
  <li{% if tour == 13 %} class="active"{% endif %}><a href="/tour/13">More About Maps</a></li>
  <li{% if tour == 14 %} class="active"{% endif %}><a href="/tour/14">How to Filter Your Data</a></li>
  <li{% if tour == 15 %} class="active"{% endif %}><a href="/tour/15">Final Remarks</a></li>
  <li{% if tour == 16 %} class="active"{% endif %}><a href="/tour/16">Java OceanAtlas Data Files</a></li>
</ul>
<p><a href="/joa" class="btn">Back to JOA application</a></p>
