{% extends "data/index.html" %}
{% block body %}
<div class="data_content date woa">
        
<h2>World Ocean Atlas (Levitus) Data - WOA05</h2>

<p><a href="/data_files/woa/woa05/woa05_entire.zip" class="joa_link">(Download the entire WOA05 set - 153.6 MB)</a></p>
    
<h3>Basin</h3>
<p><a href="/data_files/woa/woa05/woa05_basin_sub_grids_entire.zip" class="joa_link">(download entire set)</a></p>
<table>
  <tbody><tr>
    <td>
      <h4>Antarctic</h4>
    <ul>
    <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_Southern.joa">WOA05_Southern.joa</a></li>
        <li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_Southern.joa">WOA05_decimated_Southern.joa</a></li>
    </ul>
      <h4>Arctic</h4>
    <ul>
    <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_Arctic_1.joa">WOA05_Arctic_1.joa</a></li>
        <li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_Arctic_1.joa">WOA05_decimated_Arctic_1.joa</a></li>
    <ul>
      <h4>Atlantic</h4>
      <ul>
        <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_Atlantic.joa">WOA05_Atlantic.joa</a></li>
        <li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_Atlantic.joa">WOA05_decimated_Atlantic.joa</a></li>
        <li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_North_Atlantic.joa">WOA05_decimated_North_Atlantic.joa</a></li>
        <li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_South_Atlantic.joa">WOA05_decimated_South_Atlantic.joa</a></li>
    <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_NorthAtlantic_square.joa">WOA05_NorthAtlantic_square.joa</a></li>
      </ul>
    </ul></ul></td>

    <td>
      <h4>Indian</h4>
      <ul>
        <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_Indian.joa">WOA05_Indian.joa</a>
        </li><li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_Indian.joa">WOA05_decimated_Indian.joa</a>
      </li></ul>
      <h4>Pacific</h4>
      <ul>
        <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_North_Pacific.joa">WOA05_North_Pacific.joa</a>
        </li><li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_South_Pacific.joa">WOA05_South_Pacific.joa</a>
        </li><li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_North_Pacific.joa">WOA05_decimated_North_Pacific.joa</a>
        </li><li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_Pacific.joa">WOA05_decimated_Pacific.joa</a>
        </li><li><a href="/data_files/woa/WOA_decimated_basin_global_gridded_data/WOA05_decimated_South_Pacific.joa">WOA05_decimated_South_Pacific.joa</a>
      </li></ul>
    <h4>Global</h4>
    <ul>
      <li><a href="/data_files/woa/WOA_basin_global_gridded_data/WOA05_Global.joa">WOA05_Global.joa</a>
    </li></ul>
    </td>
  </tr>
</tbody></table>

<h3>Meridional</h3>
<p><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_meridional_sections_every_10_degrees.zip" class="joa_link">(download entire meridonal set)</a></p>
<table>
  <tbody><tr>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-0.5.jos">0.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-90.5.jos">90.5 West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_0.5.jos">0.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_90.5.jos">90.5  East </a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-10.5.jos">10.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-100.5.jos">100.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_10.5.jos">10.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_100.5.jos">100.5  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-20.5.jos">20.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-110.5.jos">110.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_20.5.jos">20.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_110.5.jos">110.5  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-30.5.jos">30.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-120.5.jos">120.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_30.5.jos">30.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_120.5.jos">120.5  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-40.5.jos">40.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-130.5.jos">130.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_40.5.jos">40.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_130.5.jos">130.5  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-50.5.jos">50.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-140.5.jos">140.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_50.5.jos">50.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_140.5.jos">140.5  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-60.5.jos">60.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-150.5.jos">150.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_60.5.jos">60.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_150.5.jos">150.5  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-70.5.jos">70.5  West </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-160.5.jos">160.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_70.5.jos">70.5  East </a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_160.5.jos">160.5  East</a></td>
  </tr>
  <tr>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-80.5.jos">80.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_-170.5.jos">170.5  West</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_80.5.jos">80.5  East</a></td>
    <td><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_meridional_sections_every_10_degrees/WOA05_lon_170.5.jos">170.5  East</a></td>
  </tr>       
</tbody></table>

<h3>Zonal</h3>
<p><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_zonal_sections_every_5_degrees.zip" class="joa_link">(download entire set)</a></p>
<table>
  <tbody><tr>
    <td colspan="2">
      <h4>North</h4>
    </td>
    <td colspan="2">
      <h4>South</h4>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_0.5.jos">0.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_10.5.jos">10.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_20.5.jos">20.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_30.5.jos">30.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_40.5.jos">40.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_50.5.jos">50.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_60.5.jos">60.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_70.5.jos">70.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_80.5.jos">80.5  North</a></li>
      </ul>
    </td>    
    <td>
      <ul>
      <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_5.5.jos">5.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_15.5.jos">15.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_25.5.jos">25.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_35.5.jos">35.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_45.5.jos">45.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_55.5.jos">55.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_65.5.jos">65.5  North</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_75.5.jos">75.5  North</a></li>
        <!-- <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_85.5.jos">85.5  North</a></li> -->
      </ul>
    </td>
    <td>
      <ul>
  <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-0.5.jos">0.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-10.5.jos">10.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-20.5.jos">20.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-30.5.jos">30.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-40.5.jos">40.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-50.5.jos">50.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-60.5.jos">60.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-70.5.jos">70.5  South</a></li>
    <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-80.5.jos">80.5  South</a></li>
      </ul>
    </td>
    <td>
      <ul>
  <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-5.5.jos">5.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-15.5.jos">15.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-25.5.jos">25.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-35.5.jos">35.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-45.5.jos">45.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-55.5.jos">55.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-65.5.jos">65.5  South</a></li>
        <li><a href="/data_files/woa/woa05/WOA05_global_grid_of_sections/WOA05_zonal_sections_every_5_degrees/WOA05_lat_-75.5.jos">75.5  South</a></li>
      </ul>
    </td>
  </tr> 
</tbody></table>
</div>
{% endblock %}
