{% extends "data/index.html" %}
{% block body %}
<div class="data_content data woa">
<h2>World Ocean Atlas (Levitus) Data - WOA98</h2>

<p><a href="/data_files/woa/woa98/woa98_entire.zip" class="joa_link">(Download the entire WOA98 set - 9.2 MB)</a></p>

<h3>Basin</h3>
<p><a href="/data_files/woa/woa98/woa98_basin_sub_grids_entire.zip" class="joa_link">(download entire set)</a></p>
<table>
  <tbody><tr>
    <td>
      <h4><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_antarctic.joa">Antarctic</a></h4>
      <h4><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_arctic.joa">Arctic</a></h4>
      <h4><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_atlantic_ocean.joa">Atlantic</a></h4>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_northern_north_atlantic.joa">Northern North Atlantic</a></li>
        <li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_central_north_atlantic.joa">Central North Atlantic </a></li>
        <li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_central_south_atlantic.joa">Central South Atlantic </a></li>
        <li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_southern_south_atlantic.joa">Southern South Atlantic</a></li>
      </ul>
    </td>
    <td>
      <h4><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_indian_ocean.joa">Indian</a></h4>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_north_indian.joa">North Indian</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_central_south_indian.joa">Central South Indian</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_southern_south_indian.joa">Southern South Indian</a>
      </li></ul>
    </td>
    <td>
      <h4><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_pacific_ocean.joa">Pacific</a></h4>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_northern_north_pacific.joa">Northern North Pacific </a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_west_central_north_pacific.joa">West Central North Pacific</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_east_central_north_pacific.joa">East Central North Pacific</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_west_central_south_pacific.joa">West Central South Pacific</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_east_central_south_pacific.joa">East Central South Pacific</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_west_southern_south_pacific.joa">West Southern South Pacific</a>
        </li><li><a href="/data_files/woa/woa98/woa98_basin_sub_grids/woa98_east_southern_south_pacific.joa">East Southern South Pacific</a>
      </li></ul>
    </td>
  </tr>
</tbody></table>

<h3>Meridional</h3>
<p><a href="/data_files/woa/woa98/woa98_meridional_sections_entire.zip" class="joa_link">(download entire set)</a></p>
<table>
  <tbody><tr>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/0_w.joa">0  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/90_w.joa">90 West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/180_w.joa">180  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/90_e.joa">90  East </a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/10_w.joa">10  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/100_w.joa">100  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/10_e.joa">10  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/100_e.joa">100  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/20_w.joa">20  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/110_w.joa">110  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/20_e.joa">20  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/110_e.joa">110  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/30_w.joa">30  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/120_w.joa">120  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/30_e.joa">30  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/120_e.joa">120  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/40_w.joa">40  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/130_w.joa">130  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/40_e.joa">40  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/130_e.joa">130  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/50_w.joa">50  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/140_w.joa">140  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/50_e.joa">50  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/140_e.joa">140  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/60_w.joa">60  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/150_w.joa">150  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/60_e.joa">60  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/150_e.joa">150  East</a></td>
  </tr>                                                                                        
  <tr>                                                                                         
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/70_w.joa">70  West </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/160_w.joa">160  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/70_e.joa">70  East </a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/160_e.joa">160  East</a></td>
  </tr>
  <tr>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/80_w.joa">80  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/170_w.joa">170  West</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/80_e.joa">80  East</a></td>
    <td><a href="/data_files/woa/woa98/woa98_meridional_sections/170_e.joa">170  East</a></td>
  </tr>       
</tbody></table>
     
<h3>Zonal</h3>
<p><a href="/data_files/woa/woa98/woa98_zonal_sections_entire.zip" class="joa_link">(download entire set)</a></p>
<table>
  <tbody><tr>
    <td colspan="2">
      <h4>North</h4>
    </td>
    <td colspan="2">
      <h4>South</h4>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/0_n.joa">0  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/10_n.joa">10  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/20_n.joa">20  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/30_n.joa">30  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/40_n.joa">40  North</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/50_n.joa">50  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/60_n.joa">60  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/70_n.joa">70  North</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/80_n.joa">80  North</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/10_s.joa">10  South</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/20_s.joa">20  South</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/30_s.joa">30  South</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/40_s.joa">40  South</a></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/50_s.joa">50  South</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/60_s.joa">60  South</a></li>
        <li><a href="/data_files/woa/woa98/woa98_zonal_sections/70_s.joa">70  South</a></li>
      </ul>
    </td>
  </tr> 
</tbody></table>
          </div>
{% endblock %}
