{% extends "data/index.html" %}
{% block body %}
<div class="data_content data woa">
<h2>World Ocean Atlas (Levitus) Data - WOA line sections</h2>
  
  
<h3>Basin</h3>
<p><a href="/data_files/woa/woa98/woa98_basin_sub_grids_entire.zip" class="joa_link">(download entire set)</a></p>
<table>
  <tbody><tr>
    <td>
      <h4>Atlantic</h4>
      <ul>
        <li><a href="/data_files/best/Atlantic_sections/WOA_copies_of_Atlantic_sections/A01_WOA05_clean.joa">A01_WOA05_clean.joa</a></li>
        <li><a href="/data_files/best/Atlantic_sections/WOA_copies_of_Atlantic_sections/A05_WOA05_clean.joa">A05_WOA05_clean.joa</a></li>
        <li><a href="/data_files/best/Atlantic_sections/WOA_copies_of_Atlantic_sections/A12_WOA05_clean.joa">A12_WOA05_clean.joa</a></li>
        <li><a href="/data_files/best/Atlantic_sections/WOA_copies_of_Atlantic_sections/A16_WOA05.joa      ">A16_WOA05.joa      </a></li>
        <li><a href="/data_files/best/Atlantic_sections/WOA_copies_of_Atlantic_sections/A20_WOA05_clean.joa">A20_WOA05_clean.joa</a></li>
        <li><a href="/data_files/best/Atlantic_sections/WOA_copies_of_Atlantic_sections/A21_WOA05_clean.joa">A21_WOA05_clean.joa</a></li>
      </ul>
    </td>
    <td>
      <h4>Indian</h4>
      <ul>
        <li><a href="/data_files/best/Indian_sections/WOA_copies_of_Indian_sections/I8S_I9N_WOA05.joa">I8S_I9N_WOA05.joa</a>
      </li></ul>
  </td>
  <td>
      <h4>Pacific</h4>
      <ul>
        <li><a href="/data_files/best/Pacific_sections/WOA_copies_of_Pacific_sections/P02_WOA05.joa">P02_WOA05.joa</a>
        </li><li><a href="/data_files/best/Pacific_sections/WOA_copies_of_Pacific_sections/P16_WOA09.joa">P16_WOA09.joa</a>
      </li></ul>
    </td>
  </tr>
</tbody></table>          </div>
{% endblock %}
